*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(../imag/disquera.png);
    background-size: cover;
}
.bot{
    width:150px;/*ancho*/
    height: 40px;/*alto*/
    display:block;
    margin:0 auto;
    text-align: center;
    border-radius: 16px;
    margin-top:20px;
    margin-bottom: 10px;
    border: #33ff33 3px solid;
    background: rgba(0,0,0,0.7);
    font-weight: 500;
    color:#ffffff;
}