*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(../imag/fondaco.png);
    background-size: cover;
}
.logo{
    width:250px;
    heigth:250px;
    margin:0 auto;
    margin-left: 30px;
    display:block;
    margin-top:25px;
    margin-bottom:-120px;
    border-radius:10px;
}
h1{
    margin-top:130px;
    margin-bottom: 30px;
    display:block;
    text-align: center;
    font-family: sans-serif;
    font-size: 30;
    
}
.cuadrologin{ /*cuadro*/
    width: 330px;
    background: rgba(0,0,0,0.5);/*rgba(41,215,22,0.5)*/
    padding: 5px 5px 40px 5px;
    color:#ffffff;
    display:block;
    margin:0 auto;
    text-align: center;
    margin-top:100px;
    border: black 5px solid;
    border-top-color: #33ff33;
    border-right-color: #33ff33;
    border-bottom-color: #33ff33;
    border-left-color: #33ff33;
    border-radius: 15px;
}
.campodetexto{/*entrada*/
    width:300px;/*ancho*/
    height: 35px;/*alto*/
    display:block;
    margin:0 auto;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 15px;
    border: #33ff33 3px solid;
    background: rgb(0,0,0);
    color:#ffffff;
}
.botones{/**/
    width:150px;/*ancho*/
    height: 40px;/*alto*/
    display:block;
    margin:0 auto;
    text-align: center;
    border-radius: 16px;
    margin-top:20px;
    margin-bottom: 10px;
    border: #33ff33 3px solid;
    background: rgba(0,0,0,0.7);
    font-weight: 500;
    color:#ffffff;
}
